html {
  font-family: Helvetica;
  background-color: grey;
}

.airportContainers {
  margin-bottom: 30px;
  outline-style:solid;
  outline-width: 6px;
  outline-color:black;
  width: 230px;
  height: 230px;
  padding-left: 10px;
  padding-right: 10px;
}

h3 {
  font-size: 44pt;
  text-align: right;
  margin-bottom: 35px;
}
