html {
  font-family: Helvetica;
}

.airportContainers {
  margin-bottom: 30px;
  outline-style:solid;
  outline-width:4px;
  outline-color:black;
  width: 230px;
  height: 230px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #C0C0C0;
}

h3 {
  font-size: 39pt;
  text-align: right;
}
