@import 'structure';

/*
Besides the content imported from the 'structure' Sass file, this file is exclusively used for
styling of the page, but is named 'base' because of the combined result
*/

/* colors */
$cyan: #43919f;
$dark-cyan: #1a3a3f;
$seal-brown: #30171e;
$radical-red: #f03d63;

$font: Helvetica;

html {
  font-family: $font;
  background-color: #131313;
}

.airportContainers {
  outline: {
    style: solid;
    color: $cyan;
  }
  background-color: $dark-cyan;
}

h3 {
  color: $radical-red;
  font-size: 46pt;
}

div div {
  color: white;
  font-size: 10.5pt;
}
