$box-padding: 10px;
$base-dimension: 1000px;

.airportContainers {
  outline: {
    width: 6.5px;
  }
  padding: {
    left: $box-padding;
    right : $box-padding;
  }
  width: $base-dimension * .23;
  height: $base-dimension * .23;
  margin: auto 35px 35px auto;
}

h3 {
  margin: {
    top: 10px;
    bottom: 40px;
  }
  text-align: right;
}

#content {
  width: $base-dimension * .90;
  margin: 5% auto;
}

form {
  width: $base-dimension * .20;
  margin: auto;
}
